@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Cinzel&family=Kablammo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes displace {
  0% {
    transform: translatex(0);
    color: #42961b;
  }
  25% {
    transform: translatex(-15px);
    color: #ffe204;
  }
  50% {
    transform: translatex(0px);
    color: #e61a1a;
  }
  75% {
    transform: translatex(15px);
    color: #ffe204;
  }
  100% {
    transform: translatex(0px);
    color: #42961b;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
footer {
  background-color: #333;
  color: whitesmoke;
}

.body {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  background-color: #333;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header h1 {
  animation-name: displace;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3.5s;
  animation-delay: 0s;
}

.header ul {
  display: flex;
  gap: 2px;
  list-style-type: none;
  padding: 0;
}

.header li {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.header li img {
  height: 40px;
}

.header li:hover {
  transform: scale(1.1);
}

/*index scss*/
.body {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-image: url(../images/Palm-trees-sunset-vector-picture_1024x768.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.style_h1 {
  text-align: center;
  font-family: "Kablammo", cursive;
  font-size: 45px;
}

.style_h2 {
  font-family: "Cinzel", serif;
  text-align: center;
}

.link_mapa {
  text-decoration: none;
  color: black;
  font-family: fantasy;
}

.a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  text-align: center;
}

.banner_inicio {
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
  padding: 5px;
}

.list-group-item {
  padding: 0px;
}

.carousel-item img {
  height: 100%;
  border-radius: 50px;
  padding: 20px;
  width: 100%;
}

.list-group {
  margin: 5px;
}

.list-group-item {
  text-align: center;
  background: #a6adb3;
  font-size: large;
  padding: 2px;
}

.list-group-item:hover {
  background: #828c95;
  background: -moz-radial-gradient(center, ellipse cover, rgb(130, 140, 149) 1%, rgb(40, 52, 59) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgb(130, 140, 149) 1%, rgb(40, 52, 59) 100%);
  background: radial-gradient(ellipse at center, rgb(130, 140, 149) 1%, rgb(40, 52, 59) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#828c95", endColorstr="#28343b",GradientType=1 );
  color: whitesmoke;
  height: 10%;
  transition: 2.5s;
}

.grid_inicio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 50vh);
  grid-template-areas: "i1 i1 i1 i1 i1" "i2 i2 . i3 i3" "i2 i2 . i3 i3";
}

.sec_inicio1 {
  grid-area: i1;
}

.sec_inicio2 {
  grid-area: i2;
}

.sec_inicio3 {
  grid-area: i3;
}

.row {
  --bs-gutter-x:none;
  justify-content: space-around;
}

.text-prim {
  color: rgb(23, 108, 219);
}

.bg-prim {
  background-color: rgb(23, 108, 219);
}

.text-dang {
  color: #ff3333;
}

.bg-dang {
  background-color: #ff3333;
}

.text-warn {
  color: #ffe204;
}

.bg-warn {
  background-color: #ffe204;
}

.text-dar {
  color: black;
}

.bg-dar {
  background-color: black;
}

.text-ligt {
  color: white;
}

.bg-ligt {
  background-color: white;
}

.text-succ {
  color: #28bb2d;
}

.bg-succ {
  background-color: #28bb2d;
}

/*historia scss*/
.p_history {
  line-height: 2.5;
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  color: white;
}

.bg-img-history {
  background: #4b0404;
  background: linear-gradient(141deg, #4b0404 30%, #117c0c 70%);
  background: -webkit-linear-gradient(141deg, #4b0404 30%, #117c0c 70%);
  background: -moz-linear-gradient(141deg, #4b0404 30%, #117c0c 70%);
}

/*albumes scss*/
.bg_img_album {
  background-image: url(../images/bg-tocadisco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1px;
  border: 5px solid black;
}

.section1 div {
  width: 45%;
}

.section1 img {
  max-width: 100%;
  object-fit: cover;
}

.section1:nth-child(even) {
  flex-direction: row-reverse;
}

.img_link {
  height: 350px;
  display: block;
  margin: auto;
  border-radius: 50%;
  font-size: larger;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
}

/*videos scss*/
.video_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.style_video {
  border-radius: 50px;
  width: 560px;
  height: 315px;
  margin: 5px;
}

.bg-img-videos {
  background-image: url(../images/bg-faros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*galeria scss*/
.grid_gale {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 400px);
  padding: 10px;
  grid-gap: 10px;
  justify-content: center;
  align-content: stretch;
  justify-items: center;
  align-items: center;
  grid-template-areas: "a1 a1 a2 a3" "a1 a1 a2 a3" "a4 a5 a5 a6" "a4 a7 a7 a6" "a8 a8 a9 a9" "a10 a10 a9 a9";
}

.gal_item1 {
  grid-area: a1;
}

.gal_item2 {
  grid-area: a2;
}

.gal_item3 {
  grid-area: a3;
}

.gal_item4 {
  grid-area: a4;
}

.gal_item5 {
  grid-area: a5;
}

.gal_item6 {
  grid-area: a6;
}

.gal_item7 {
  grid-area: a7;
}

.gal_item8 {
  grid-area: a8;
}

.gal_item9 {
  grid-area: a9;
}

.gal_item10 {
  grid-area: a10;
}

.grid_div {
  width: 100%;
  height: 100%;
}

.gale_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gale_img:hover {
  transform: scale(1.03);
}

/*media queris*/
@media screen and (max-width: 768px) {
  .header {
    width: auto;
  }
  .section1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .section1:nth-child(even) {
    flex-direction: column;
  }
  .section1 div {
    width: 100%;
    margin: 5px;
  }
  .style_video {
    width: max-content;
  }
  .grid_inicio {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .grid_gale {
    display: block;
  }
  .gale_img {
    height: 50vh;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
