

@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Cinzel&family=Kablammo&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; }

/* header y menu nav*/
.body{ color: whitesmoke; font-family:Verdana, Geneva, Tahoma, sans-serif;}

.header { display: flex;background-color: #333; height: 100px ; color: whitesmoke;justify-content: space-around; align-items: center;} 

.header ul{ display: flex; gap: 2vw;list-style-type: none;}

.header li{  width: 85px; height: 85px;display: flex;align-items: center; justify-content: center;}

footer {background-color: #333; color: whitesmoke;}

main{background-image: url(../images/Palm-trees-sunset-vector-picture_1024x768.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;}

.style_h1 { text-align: center;font-family: 'Kablammo', cursive;}


.style_h2{font-family: 'Cinzel', serif; text-align: center;}

.style_video{ display:block;width: 50%; margin-left: 25%; border-radius: 50px; padding:10px;}

.link_mapa{text-decoration: none;color: black ; font-family: fantasy;}

.a{ text-decoration: none; color: rgb(245, 245, 245); text-align: center;}

.banner_inicio{width:90%; border-radius: 50px; padding: 20px; object-fit: cover;}git

.img_link{height: 350px; display: block; margin:auto; border-radius:50%;}

.p_history{ line-height: 2.5 ; text-align: center;}

.section1{display: flex; justify-content: center; align-items: center; border: 5px solid black;}

.bg_img_album{background-image: url(../images/bg-tocadisco.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;}

.section1 div{width: 45%;padding: 20px;}

.section1 img{height: 450px; object-fit: cover;}

/*carousel*/

.carousel-item img{ height: 100vh;border-radius: 50px;width: 100%; padding: 20px;}

/*list group*/
.list-group-item{
text-align: center;
background: #a6adb3; 
font-size:large;
padding: 2px;
}

/*psudoclases*/

.header li:hover{border: 3px solid #828c95; border-radius: 100%;}

.list-group-item:hover{ background: #828c95; 
    background: -moz-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 1%, rgba(40,52,59,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#28343b',GradientType=1 );
color: whitesmoke;
    height: 10%;}

.section1:nth-child(even){flex-direction: row-reverse;}

/*Grid para fotos de Galeria*/

.grid_gale{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(auto, 400px);
    padding: 10px;
    grid-gap: 10px;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    align-items: center;    
    grid-template-areas: 
    "a1 a1 a2 a3"
    "a1 a1 a2 a3"
    "a4 a5 a5 a6"
    "a4 a7 a7 a6"
    "a8 a8 a9 a9"
    "a10 a10 a9 a9"
    ;
}

.gal_item1{grid-area: a1;}
.gal_item2{grid-area: a2;}
.gal_item3{grid-area: a3;}
.gal_item4{grid-area: a4;}
.gal_item5{grid-area: a5;}
.gal_item6{grid-area: a6;}
.gal_item7{grid-area: a7;}
.gal_item8{grid-area: a8;}
.gal_item9{grid-area: a9;}
.gal_item10{grid-area: a10;}

.grid_div{width: 100%;height: 100%;}
.gale_img{width: 100%;height: 100%;object-fit: cover;}

/*para borrar overflow-x que se hacia al tener el carousel a la derecha*/

.row{--bs-gutter-x:none;align-items: center;}

/*mediaqueris en galeria y albumes*/

@media only screen and (max-width: 768){


}