/*historia scss*/
.p_history{ 
    line-height: 2.5 ; 
    text-align:center;
    font-style: italic;
    font-size: 1.2rem;
    color:white;
}

.bg-img-history {background: #5a0c0c;
    background: linear-gradient(163deg,#5a0c0c 5%, #186716 100%);
    background: -webkit-linear-gradient(163deg,#5a0c0c 5%, #186716 100%);
    background: -moz-linear-gradient(163deg,#5a0c0c 5%, #186716 100%);}

