/*historia scss*/
.p_history{ 
    line-height: 2.5 ; 
    text-align:center;
    font-style: italic;
    font-size: 1.2rem;
    color:white;
}

.bg-img-history {background: #4b0404;
    background: linear-gradient(141deg,#4b0404 30%, #117c0c 70%);
    background: -webkit-linear-gradient(141deg,#4b0404 30%, #117c0c 70%);
    background: -moz-linear-gradient(141deg,#4b0404 30%, #117c0c 70%);}

