/*index scss*/
.body{ 
    color: whitesmoke; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;}

main{
    @include bg-img-fixed(url(../images/Palm-trees-sunset-vector-picture_1024x768.jpg),no-repeat,center,cover,fixed )}

.style_h1 { 
    text-align: center;
    font-family: 'Kablammo', cursive;
    font-size: 45px;
}

.style_h2{font-family: 'Cinzel', serif; text-align: center;}

.link_mapa{
    text-decoration: none;
    color: black ; 
    font-family: fantasy;}

.a{ text-decoration: none; 
    color: rgb(245, 245, 245); 
    text-align: center;
}

.banner_inicio{
    border-radius: 50px; 
    object-fit: cover; 
    width:100%;
    padding: 5px;
;}

.list-group-item{padding: 0px;}

.carousel-item img{ height: 100%;border-radius: 50px; padding: 20px;width: 100%;}

.list-group{margin: 5px;}

.list-group-item{
text-align : center;
background : #a6adb3; 
font-size:large;
padding:2px;
}

.list-group-item:hover{ 
    background: #828c95; 
    background: -moz-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 1%, rgba(40,52,59,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(130,140,149,1) 1%,rgba(40,52,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#28343b',GradientType=1 );
    color: whitesmoke;
    height: 10%;
    transition: 2.5s;}

.grid_inicio{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(auto,50vh);
    grid-template-areas:
    "i1 i1 i1 i1 i1"
    "i2 i2 . i3 i3"
    "i2 i2 . i3 i3";
}
.sec_inicio1{grid-area: i1;}
.sec_inicio2{grid-area: i2;}
.sec_inicio3{grid-area: i3;}

.row{--bs-gutter-x:none;justify-content: space-around;}



@each $key, $valor in $colors {
    .text-#{$key} {
        color: $valor;
    }
    .bg-#{$key}{
        background-color: $valor;
    }
}
