.body{ 
    color: whitesmoke; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;}

.header { 
    display: flex;
    background-color: #333; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;
} 

.header nav {display: flex;flex-wrap: wrap;justify-content: center;}

.header h1 {
    animation-name: displace;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3.5s;
    animation-delay: 0s;

}

.header ul{ 
    display: flex; 
    gap: 2px;
    list-style-type: none;padding:0;}

.header li{
    height: 85px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0px 5px;
}

.header li img {height: 40px;}

.header li:hover{transform: scale(1.1);}
